@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

html {
    font-size: 62.5%;
    background: black;
    color: white;
    font-family: 'Space Mono', monospace;
    padding: 2.5rem;
    border: rgba(35,62,144,1) 5rem solid;
    border-radius: 2rem;
}

/*////////////////////////
Body
////////////////////////*/
header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.nasaLogo {
    height: 10rem;
    position: relative;
    top: 20rem;
    left: 25rem;
}

.logoContainer {
    display: flex;
    flex-direction: column;
}

.dateContainer {
    height: 100%;
    display: flex;
    align-items: flex-start;
    color: rgba(190,70,46,1)
}

h1 { 
    font-size: 4rem;
}

h2 {
    font-size: 2.5rem;
}

.photoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.creditContainer {
    display: flex;
    align-items: center;
}

span.copyright {
    margin-left: 3rem;
}

img {
    height: auto;
    max-width: 100rem;
    border: white solid 5rem;
}

.imgContainer{
    height: auto;
    width: auto;
    padding: 2.5rem;
    background-color: rgba(35,62,144,1);
}

span {
    font-size: 2rem;
    color: rgba(190,70,46,1)
}

p {
    font-size: 2rem;
}

.explanation {
    max-width: 100rem;
    text-indent: 6rem;
}

/*////////////////////////
Media Queries
////////////////////////*/

/* Mobile */
@media (max-width: 480px){
   
}

/* Tablet */
@media(min-width: 481px) and (max-width: 768px){

}

/* Small screens, laptops */
@media(min-width: 769px) and (max-width: 1024px){
    
}

/* Desktops, large screens */
@media(min-width: 1025px) and (max-width: 1200px){
    
}

/* Large desktops and TV's */
@media(min-width: 1201px){
    
}