html {
    font-size: 62.5%;
    background: black;
    color: white;
}

/*////////////////////////
Body
////////////////////////*/
header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

h1 { 
    font-size: 4rem;
}

h2 {
    font-size: 2.5rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

img {
    height: 500px;
    border: 5px solid white;
}

p {
    font-size: 2rem;
}

/*////////////////////////
Media Queries
////////////////////////*/

/* Mobile */
@media (max-width: 480px){
   
}

/* Tablet */
@media(min-width: 481px) and (max-width: 768px){

}

/* Small screens, laptops */
@media(min-width: 769px) and (max-width: 1024px){
    
}

/* Desktops, large screens */
@media(min-width: 1025px) and (max-width: 1200px){
    
}

/* Large desktops and TV's */
@media(min-width: 1201px){
    
}